<!-- header -->
<%- include('../layouts/header') %>

<!-- About Section -->
    <section class="container flex flex-col items-center px-6 pt-7 mx-auto lg:flex-row">
        <div class="mx-auto">
            <h1 class="max-w-xl font-serif text-4xl font-medium tracking-wide text-green-600 capitalize md:text-6xl">
                Angkat Topik Bank Sampah Digital, Maperwa UNM Gelar Seminar dan Sosialisasi Program PPK Ormawa di Desa Tarowang Jeneponto
            </h1>
            <hr class="my-3">
            <div class="h-full w-full lg:w-full">
                <img src="https://sulsel.fajar.co.id/wp-content/uploads/2023/07/IMG-20230726-WA0046.jpg" alt="">
            </div>
            <p class="my-3 text-justify">
                Lembaga Majelis Permusyawaratan Mahasiswa (Maperwa) Universitas Negeri Makassar melalui tim pelaksana e-TB Tarowang sukses melaksanakan kegiatan Seminar dan Sosialisasi Program Penguatan Kapasitas Organisasi Kemahasiswaan (PPK ORMAWA) Tahun 2023 bertajuk “Program e-Trash Bank untuk Mewujudkan SDGs Desa Sadar Lingkungan dan Meningkatkan Penghasilan Rumah Tangga di Desa Tarowang” Rabu, 26 Juli 2023 <br> Seminar dan Sosialisasi tersebut dilaksanakan di Aula Kantor Desa Tarowang, Kecamatan Tarowang, Kabupaten Jeneponto. Kegiatan dihadiri langsung oleh Kepala Camat Kecamatan Tarowang, Kepala Dinas Lingkungan Hidup yang diwakili oleh Kepala Bidang Pengelolaan Sampah, Limbah, Bahan Beracun dan Berbahaya Dinas Lingkungan Hidup (PSLB3 DLH), Kepala Desa Tarowang, Tokoh Masyarakat, Kelompok Pemuda dan Petani Desa Tarowang, Pelajar tingkat SMP dan SMA, serta masyarakat desa lainnya dengan total partisipan yang menghadiri kegiatan sebanyak 51 orang. <br> Ketua Ormawa Maperwa UNM, Muh. Ikbal Ramadandi, dalam sambutannya menjelaskan bahwa kegiatan ini adalah salah satu bentuk upaya Implementasi Tridharma Perguruan Tinggi yang dilakukan oleh Organisasi Internal Kampus <br> "PPK Ormawa adalah salah satu wadah untuk meningkatkan soft skill dan hard skill mahasiswa yang belum tentu didapatkan dalam bangku perkuliahan oleh sebab itu Belmawa merumuskan kegiatan ini agar dapat meningkatkan mutu Organisasi Mahasiswa yang dikemas dalam bentuk pengabdian masyarakat, kedepannya Ormawa diharapkan dapat menjadi pusat pembinaan mahasiswa yang unggul, peka terhadap isu-isu kemasyarakatan, dan cekatan dalam menawarkan berbagai solusi penyelesaian masalah sosial,"katanya. <a href="https://sulsel.fajar.co.id/2023/07/26/angkat-topik-bank-sampah-digital-maperwa-unm-gelar-seminar-dan-sosialisasi-program-ppk-ormawa-di-desa-tarowang-jeneponto/">Selengkapnya..</a>
            </p>

        </div>
    </section>

<!-- footer -->
<%- include('../layouts/footer') %>