<!-- header -->
<%- include('../layouts/header') %>

<!-- About Section -->
    <section class="container flex flex-col items-center px-6 pt-7 mx-auto lg:flex-row">
        <div class="mx-auto">
            <h1 class="max-w-xl font-serif text-4xl font-medium tracking-wide text-green-600 capitalize md:text-6xl">
                Tentang Website Trash Bank Desa Tarowang
            </h1>
            <hr class="my-3">
            <div class="h-full w-full lg:w-full">
                <img src="assets/img/image 2.png" alt="">
            </div>
            <p class="mt-3 text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quo. Quisquam, culpa consectetur atque animi saepe ullam maxime eius unde magnam quam dolores consequuntur optio ipsum odit dolor inventore. Non nulla tenetur placeat libero repellat molestias. Natus deserunt nam asperiores eos, quas minus ducimus? Neque amet recusandae nihil quos id. Voluptas, dolor sunt. Accusantium nostrum tempora nisi cupiditate quasi enim? Fuga unde numquam architecto vitae veniam, dolorum sapiente voluptas, expedita sed cum sunt assumenda ab? Non placeat assumenda tenetur dolores illum odio eveniet officia asperiores! Corporis quas odio dolore a voluptatem obcaecati facere tenetur deleniti inventore, doloremque eos perspiciatis error ea, laboriosam numquam nostrum quo ipsam! Sequi eum, nihil provident illum placeat et beatae ea deserunt quibusdam nesciunt odio natus laboriosam repudiandae expedita eligendi debitis explicabo ratione ex exercitationem esse laborum. Cum numquam neque, rerum corrupti eligendi molestiae, cupiditate quo, est saepe accusantium dicta porro. Voluptatem, non? Harum, esse? Officia ipsum laborum est in quia autem earum aut, laboriosam qui alias dolorum pariatur eum accusantium non impedit ut sed consectetur labore atque ratione. Earum aliquam, iste voluptates error facere ad dolorem cumque odio illo obcaecati iure incidunt? Assumenda, velit? Reiciendis sunt minima repudiandae molestias neque quis sapiente velit corrupti libero vel sit, praesentium placeat numquam animi recusandae atque quibusdam debitis. Et sit necessitatibus ea hic corrupti maxime explicabo illo facilis fuga earum, iste unde dolor numquam odio recusandae autem tempora aperiam modi harum expedita placeat consequatur! Consequuntur itaque est non quos porro magni quia facere quam eum aspernatur vero fugiat, veniam beatae illo minima? Adipisci dicta voluptatibus commodi minima repellendus nobis dolore enim cumque obcaecati optio quod porro quisquam quos reprehenderit deleniti vero, in laborum quasi quibusdam, aliquid, corrupti placeat fuga fugit. Facilis esse voluptas minima alias tenetur autem repellat molestias, assumenda tempore magni dignissimos nemo, earum quo labore. Vitae repellat sint ab possimus adipisci praesentium, a quos similique, facilis quod perspiciatis rerum eaque aperiam ullam debitis aspernatur in consequatur aut. Vero minus culpa accusamus reiciendis, excepturi incidunt eius laudantium, sunt dolorem quis nemo ipsum, ullam est porro? Rem, numquam expedita ipsa ratione dolor alias deserunt necessitatibus veniam tenetur, voluptatibus tempore quae. Nam impedit eum quo labore voluptates earum perspiciatis in dolor. Repellat eum architecto atque magni repellendus. Corrupti incidunt, eius debitis saepe veritatis, itaque suscipit iusto quos, placeat similique tempora ducimus officia numquam consequuntur in ullam autem omnis? Doloremque odio eaque quisquam eum repellendus magni esse commodi veritatis debitis et eos ad fugit ea quae numquam ut necessitatibus rem, facere corrupti eius unde, quia architecto iste. Quidem est id, saepe cumque autem iusto. Magni odio qui culpa? Fugiat, animi. Iure sint, suscipit harum ipsa dolore atque voluptatum dolor obcaecati officiis. Repellendus minima pariatur quos consequuntur, quae deserunt adipisci quod est, sed dolores minus, eaque ut. Rerum molestiae quod veniam optio magni laudantium maiores iusto nobis, officiis nulla illum ab? Iste eum necessitatibus sunt debitis ea quas! Illo ullam ipsa impedit dolorum nostrum. Odit nesciunt atque laudantium nulla, illum, voluptatum voluptate odio rem natus placeat vel temporibus, alias vitae eius?
            </p>

        </div>
    </section>

<!-- footer -->
<%- include('../layouts/footer') %>