<%- include("../layouts/header") %>

    <!-- hero Section -->
    <section class="container flex flex-col items-center px-6 pt-7 mx-auto lg:flex-row">
        <div class="mx-auto">
            <h1 class="max-w-xl font-serif text-4xl font-medium tracking-wide text-green-600 capitalize md:text-6xl">
                Website Resmi Trash Bank Desa Tarowang
            </h1>
            <p class="max-w-lg mt-4 text-green-400">
                Laman ini menampilkan aktivitas upaya pelestarian lingkungan melalui pengolaan limbah dengan konsep bank sampah.
            </p>

            <div class="mt-6 sm:flex sm:items-center">
                <a href="/users/login" class="bg-green-500 hover:bg-white hover:text-green-500 duration-300 transition-colors border-2 border-green-500 px-6 block text-center py-3 uppercase text-sm font-bold leading-4 tracking-widest text-white ">
                  Masuk
                </a>
      
                <a href="/users/register" class="border-2 text-sm duration-300 transition-colors hover:bg-green-500 hover:text-white font-bold leading-4 mt-4 sm:mt-0 tracking-widest text-green-500 sm:mx-4 border-green-500 px-6 block text-center py-3 uppercase">
                  Daftar Sekarang
                </a>
            </div>
        </div>
        <div class="lg:h-[38rem] aspect-square mt-6 lg:mt-0 lg:max-w-xl lg:rounded-t-full w-full mx-auto overflow-hidden">
            <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1531163859947-fa484f6eacd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="main page" />
          </div>
    </section>

    <!-- About Section -->
    <section class="bg-green-600 mt-12">
        <div class="container flex flex-col px-6 py-16 mx-auto mt-12">
          <div class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:items-center lg:-mx-6">
            <img class="object-cover w-full lg:w-1/2 lg:mx-6 h-72 lg:h-96" src="https://images.unsplash.com/photo-1598901847919-b95dd0fabbb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">            
            <div class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0">
              <h3 class="font-serif text-2xl text-white capitalize md:text-4xl lg:text-5xl">
                Tentang Website Ini
              </h3>
    
              <p class="mt-4 text-gray-200 ">
                Website Ini merupakan wadah Masyarakat Desa Tarowang untuk mengelolah sampah dengan prinsip (Reduce, Reuse, dan Recycle), sebagai sarana edukasi demi perubahan perilaku yang berorientasi pada upaya menjaga kelestarian lingkungan, pusat pelatihan manajemen dan pelaksanaan ekonomi yang memanfaatkan limbah sampah...
              </p>
              
              <a class="inline-flex px-6 py-3 mt-6 text-white border-2 border-white hover:bg-white hover:text-green-500 duration-300 transition-colors" href="/about">
                Selengkapnya
              </a>
            </div>
          </div>
          
          <img class="order-1 object-cover lg:order-2 w-ful h-72 lg:h-96 lg:mt-12" src="https://images.unsplash.com/photo-1610462275440-4ea0976f46f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">
        </div>
      </section>

    <!-- Market Section -->
    <section class="bg-white">
      <div class="container flex flex-col px-6 py-12 mx-auto">
        <div class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:flex-row lg:items-center lg:-mx-6">
          <div class="lg:order-2 object-cover lg:w-3/5 lg:mx-6">
            <div class="grid grid-cols-2 gap-3">
              <div class="bg-green-500 lg:aspect-[4/3] aspect-[4/3]">
                <img class="object-cover object-center w-full h-full " src="assets/img/Image 1.jpg" alt="">
              </div>
              <div class="bg-green-500 lg:aspect-[4/3] aspect-[4/3]">
                <img class="object-cover object-center w-full h-full" src="assets/img/Image 2.jpg" alt="">
              </div>
              <div class="bg-green-500 lg:aspect-[4/3] aspect-[4/3]">
                <img class="object-cover object-center w-full h-full" src="assets/img/Image 3.jpg" alt="">
              </div>
              <div class="bg-green-500 lg:aspect-[4/3] aspect-[4/3]">
                <img class="object-cover object- w-full h-full" src="assets/img/Image 4.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="lg:order-1 mt-8 lg:w-1/2 lg:mx-6 lg:mt-0 align-middle">
            <h3 class="font-serif text-2xl text-green-500 capitalize md:text-4xl lg:text-5xl">
              Kami Juga Menyediakan!
            </h3>
  
            <p class="mt-4 text-green-500 ">
              Kami menawarkan marketplace jual – beli sampah pilahan dan beberapa hasil produk olahan limbah sampah hasil kreasi masyarakat Desa Tarowang.
            </p>
            
            <a class="inline-flex px-6 py-3 mt-6 text-green-500 border-2 border-green-500 hover:bg-green-500 hover:text-white duration-300 transition-colors" href="#">
              Pesan Sekarang
            </a>
          </div>
        </div>
    </section>

<%- include("../layouts/footer") %>